.menu{
    
    width: calc(100 - 12px);
    text-decoration: none;

color: #000;
}
.menu:hover{
    color: rgba(0, 0, 255, 0.411);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

 .item{
        margin-right: 1rem;
        
    }
    .inicio{
        font-size: 30px;
        text-align: center;
    }
    .inicio:hover{
        color: rgba(0, 0, 255, 0.411);
    }